{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quiz_questions', {'id': question.quiz.id }) }}">Retourner aux Questions</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
