{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Login.css') }}">
{% endblock %}

{% block body %}
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">CONNEXION</h1>
                <form method="post">
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus/>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="opacity" type="submit" >Se Connecter</button>
                </form>
                <div class="register-forget opacity">
                    <a href="{{path('app_register')}}">S'INSCRIRE</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
    </section>



    
{% endblock %}
